.footer {
    position: absolute;
    top: 6623px;
    width: 100%;
    height: 811px;
}

.footer-image {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 420px;
}

.footer-image > img {
    width: 100%;
    height: 100%;
}

.footer-content {
    position: absolute;
    top: 420px;
    width: 100%;
    height: 391px;
}

.footer-address {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 550px;
    height: 342px;
    padding-left: 70px;
    padding-top: 40px;
    background-color: green;
    box-sizing: border-box;
}   

.footer-address > img:first-child {
    width: 231px;
    height: 75px;
}

.footer-address >p:nth-child(2) {
    margin-top: 17px;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 20px;
}

.company-address > img {
    float: left;
}

.company-address > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}
