#top-recommended-tours {
    position: absolute;
    top: 645px;
    width: 100%;
    height: 1420px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#title-recommended-tours {
    position: absolute;
    top: 105px;
    font-size: 36px;
    font-weight: 700;
    color: #333333;
}

#content-recommended-tours {
    position: absolute;
    top: 167px;
    line-height: 30px;
    color: #333333;
}

#recommended-tours {
    position: absolute;
    top: 358px;
    height: 931px;
    width: 89.2%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

#recommended-tours > div {
    width: 360px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 30px;
}

#recommended-tours > div > div > img {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

.img-div {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#recommended-tours > div > div > img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    cursor: pointer;
}

#recommended-tours > div > div > a {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 100px;
}

#recommended-tours > div > div > a:hover {
    color: #EE494E;
}

#recommended-tours > div > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #FF9000;
    padding-top: 1px;
    padding-bottom: 10px;
}

#recommended-tours > div > div > button {
    height: 36px;
    width: 113px;
    border: none;
    outline: none;
    background-color: #52E0E4;
    border-radius: 20px;
}

#recommended-tours > div > div > button:hover a {
    color: #EE4326;
}

#recommended-tours > div > div > button:hover {
    cursor: pointer;
}

#recommended-tours > div > div > button > a{
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.link {
    padding: 13px;
}

.view-details {
    padding-bottom: 15px;
}

#view-all-tours {
    position: absolute;
    top: 1330px;

}

#view-all-tours > button {
    width: 142px;
    height: 37px;
    background-color: #52E0E4;
    outline: none;
    border: none;
    border-radius: 25px;
}

#view-all-tours > button:hover {
    cursor: pointer;
}

#view-all-tours > button:hover * {
    color: red;
}

#view-all-tours > button > a {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#view-all-tours > button > i {
    color: white;
    font-size: 15px;
}
